body{background-color: #F0E3D3;
     text-align: center;
	}


h1 {font-family: futura;
	font-size: 30px;
	font-weight: 10;
	color: #190C04;
	line-height: 0.1;
	letter-spacing: .2rem;
}

h2 {font-family: futura;
	font-size: 22px;
	font-weight: 45;
	color: #7F7F75;
}	

h3 {font-family: futura;
	font-size: 20px;
	font-weight: 20;
	color: #916953;
	letter-spacing: .1rem;
	border-bottom: 0.2rem solid;
	border-color: #F28E71;
	display: inline-block;
	margin-bottom: 30px;
}

table {font-family: futura;
   font-weight: 10;
   font-size: 12px;
   text-align: justify;
   margin: auto;
   color: #B39785;
   line-height: 1.5;
   border: black;
   margin-bottom: 15px;
}

td
{
text-align :center;
color: #B39785;
}

#title_board {
	text-align: center;
	font-size: 13px;
	font-weight: 10px;
	color: #B39785;
	margin-bottom: 30px;
}

#title_thing {
	text-align: center;
	font-size: 12px;
	font-weight: 10;
	color: #545451;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto;
   /* This automatically sets left/right margins */
}

footer a {
  color: #535353;
  font-family: futura;
  text-decoration-line: none;
}

i {
  color: #535353;
}

.card {
	border-radius: 4px;
	box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
	margin: 30px auto 30px;
	overflow: hidden;
	position: relative;
	padding: 10px;
	padding-bottom: 20px;
	background-color: #DBCFC0;

}

#bio {
  color: #535353;
  font-family: futura;
  text-decoration-line: none;
  font-weight: 10;
  font-size: 10px;
  text-align: center;
}

#description {
  color: #535353;
  font-family: futura;
  text-decoration-line: none;
  font-weight: 10;
  font-size: 10px;
  text-align: justify;
}

